<!DOCTYPE html>
<html>
<head>
    <title>Shopify Authentication</title>
</head>
<body>
    <h1>Authenticate with Shopify</h1>
    <h1>oroa-development.myshopify.com</h1>
    <form id="authForm">
        <label for="shop">Shop:</label><br>
        <input type="text" id="shop" name="shop"><br>
        <label for="code">Code:</label><br>
        <input type="text" id="code" name="code"><br><br>
        <button type="button" onclick="authenticate()">Authenticate</button>
        <button type="button" onclick="auth()">login</button>

    </form>
    <p id="result"></p>
    <script>


        function auth() {
            const shop = document.getElementById('shop').value;
            if (!shop) {
                document.getElementById('result').innerText = 'Shop URL is required.';
                return;
            }
             window.location.href = `/app_launched?shop=${shop}`;
        }
        

    </script>
</body>
</html>
